*,*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
}
#head {
    background-color: rgb(142, 188,123);
    height: 45px;
    text-align: center;
    color: white;
}

table {
    width: 400px;
    border-collapse: separate;
    border-spacing: 10px;
}

input{
    border-color: rgb(142, 188,123);
}

#addsk {
    color:rgb(142, 188,123);
    float:right;
    border-color: rgb(142, 188,123);
}

#entry{
    width: 300px;
}

.rbtn {
    float: right;
}



